<h1>Product details</h1>
<strong>Image:</strong> <%= @product.image %>
<br>
<strong>Name:</strong> <%= @product.name %>
<br>
<strong>Description:</strong> <%= @product.description %>
<br> 
<strong>Price:</strong> <%= @product.price %> 
